PORT=4445
FRONTEND_URL=http://localhost:5173

# LLM

# 1
LLM_API_KEY=
LLM_API_URL=https://aihubmix.com/v1
LLM_MODEL=gemini-3.1-flash-lite
LLM_FALLBACK_MODEL=gpt-4o-mini

# 2
OCR_API_URL=
OCR_API_KEY=
OCR_MODEL=glm-ocr
OCR_REFINEMENT_MODEL=gemini-3-flash-preview

TTS_MODEL=gpt-4o-mini-tts
TTS_API_KEY=

UPLOADS_PATH=./uploads

DB_PATH=./db/insight-book.sqlite
DICTS_PATH=/db/dicts

# 'single' | 'multi'
AUTH_MODE=single

JWT_SECRET=super-secret-key

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT="mailto:injurka@gmail.com"

# S3
S3_ENDPOINT="https://s3.firstvds.ru"
S3_REGION="default"
S3_ACCESS_KEY="..."
S3_SECRET_KEY="..."
S3_BUCKET="trip-scheduler-bucket-dev"
