PORT=4445
FRONTEND_URL=http://localhost:5173

UPLOADS_PATH=./uploads

# Database Configuration
## Local dev
DB_PATH=./db/insight-book.sqlite
DATABASE_URL=""
DATABASE_AUTH_TOKEN=

# Catalog Database
## Local dev
CATALOG_DB_PATH=./db/catalog.sqlite
CATALOG_DATABASE_URL=""
CATALOG_DATABASE_AUTH_TOKEN=""

# 'single' | 'multi'
AUTH_MODE=single

JWT_SECRET=super-secret-key

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

UNISENDER_API_KEY=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT="mailto:injurka@gmail.com"

# S3
S3_ENDPOINT="https://s3.firstvds.ru"
S3_REGION="default"
S3_ACCESS_KEY="..."
S3_SECRET_KEY="..."
S3_BUCKET="insight-book-bucket-dev"

# "local" or "s3"
UPLOAD_STORAGE="local"

AI_CONFIG_PATH=/configs/ai-config.json
