PORT=4445

FS_BASE_PATH=/app/data

LLM_API_KEY=
LLM_API_URL=https://aihubmix.com/v1
LLM_MODEL=gemini-3.1-flash-lite-preview

TTS_API_KEY=
TTS_MODEL=gpt-4o-mini-tts

UPLOADS_PATH=./uploads

DB_PATH=./db/insight-book.sqlite
DICTS_PATH=/db/dicts
