VITE_MAIN_BUNDLE_ID=com.yourcompany.yourapp
VITE_API_URL=http://localhost:4445

# 'single' | 'multi'
AUTH_MODE=single
ENABLE_AUTO_DUMP=false

VITE_UMAMI_URL=https://analytics.insight-book.ru/script.js
VITE_UMAMI_WEBSITE_ID=...
