VITE_MAIN_BUNDLE_ID=com.yourcompany.yourapp
VITE_API_URL=https://api.insight-book.ru

# CDN (Pull Zone) для раздачи загруженных файлов (манга, обложки, аватарки)
# Например: https://insight-book-cdn.b-cdn.net
VITE_CDN_URL=

# 'single' | 'multi'
AUTH_MODE=single
ENABLE_AUTO_DUMP=false
DUMP_MEDIA=false

VITE_UMAMI_URL=https://analytics.insight-book.ru/script.js
VITE_UMAMI_WEBSITE_ID=...
