/* Light theme */
html[data-theme='light'],
.plugin-sandbox.light,
:root:not([data-theme]) {
  --bg-primary-color: #faf4f2;
  --bg-secondary-color: #f2edeb;
  --bg-tertiary-color: #e0dad9;
  --bg-disabled-color: #f2edeb;
  --bg-inverted-color: #29242a;
  --bg-accent-overlay-color: rgba(225, 96, 50, 0.3);
  --bg-accent-color: #fce9e4;
  --bg-pressed-color: rgba(41, 36, 42, 0.05);
  --bg-overlay-primary-color: rgba(112, 107, 110, 0.21);
  --bg-overlay-secondary-color: rgba(165, 159, 160, 0.86);
  --bg-action-hover-color: #f37a51;
  --bg-hover-color: rgba(237, 231, 229, 0.75);
  --bg-focus-color: #fce9e4;
  --bg-highlight-color: #fdf5d7;
  --bg-success-color: #d4e6d6;
  --bg-error-color: #f3d9e0;
  --bg-warning-color: #fce9e4;
  --bg-info-color: #fdecd7;

  --fg-primary-color: #29242a;
  --fg-secondary-color: #706b6e;
  --fg-tertiary-color: #a59fa0;
  --fg-muted-color: rgba(41, 36, 42, 0.6);
  --fg-accent-color: #e16032;
  --fg-action-color: #e16032;
  --fg-inverted-color: #faf4f2;
  --fg-disabled-color: rgba(41, 36, 42, 0.3);
  --fg-pressed-color: #29242a;
  --fg-highlight-color: #d99f47;
  --fg-success-color: #269d69;
  --fg-error-color: #e14775;
  --fg-warning-color: #e16032;
  --fg-info-color: #cc7a0a;

  --border-primary-color: #d2cdcb;
  --border-secondary-color: #e0dad9;
  --border-accent-color: #f37a51;
  --border-disabled-color: #e0dad9;
  --border-button-secondary-color: #f5d6cb;
  --border-focus-color: #e16032;
  --border-pressed-color: #e16032;
  --border-success-color: #5bbd8b;
  --border-error-color: #e87899;
  --border-warning-color: #f37a51;
  --border-info-color: #d99f47;
}

/* Dark theme */
html[data-theme='dark'],
.plugin-sandbox.dark {
  --bg-primary-color: #0d1117;
  --bg-secondary-color: #161b22;
  --bg-tertiary-color: #21262d;
  --bg-disabled-color: #161b22;
  --bg-inverted-color: #c9d1d9;
  --bg-accent-overlay-color: rgba(201, 117, 222, 0.2);
  --bg-accent-color: #30213d;
  --bg-pressed-color: rgba(201, 209, 217, 0.05);
  --bg-overlay-primary-color: rgba(139, 148, 158, 0.21);
  --bg-overlay-secondary-color: rgba(88, 96, 105, 0.86);
  --bg-action-hover-color: #db90f5;
  --bg-hover-color: #21262d;
  --bg-focus-color: #30213d;
  --bg-highlight-color: #3e3420;
  --bg-success-color: #1c3421;
  --bg-error-color: #412224;
  --bg-warning-color: #3e3420;
  --bg-info-color: #223b4e;

  --fg-primary-color: #c9d1d9;
  --fg-secondary-color: #8b949e;
  --fg-tertiary-color: #586069;
  --fg-muted-color: rgba(201, 209, 217, 0.4);
  --fg-accent-color: #c975de;
  --fg-action-color: #c975de;
  --fg-inverted-color: #0d1117;
  --fg-disabled-color: rgba(201, 209, 217, 0.3);
  --fg-pressed-color: #c9d1d9;
  --fg-highlight-color: #e3b341;
  --fg-success-color: #56d364;
  --fg-error-color: #f85149;
  --fg-warning-color: #e3b341;
  --fg-info-color: #76e3ea;

  --border-primary-color: #30363d;
  --border-secondary-color: #21262d;
  --border-accent-color: #db90f5;
  --border-disabled-color: #21262d;
  --border-button-secondary-color: #32253e;
  --border-focus-color: #c975de;
  --border-pressed-color: #c975de;
  --border-success-color: #56d364;
  --border-error-color: #f85149;
  --border-warning-color: #e3b341;
  --border-info-color: #76e3ea;
}
