// BG
$bg-primary-color: #e8f3e8;
$bg-secondary-color: #d5e8d5;
$bg-tertiary-color: #c2dec2;
$bg-header-color: 232, 243, 232;
$bg-disabled-color: #d5e8d5;
$bg-inverted-color: #1b3d1b;
$bg-accent-overlay-color: #4a8c4a4d;
$bg-accent-color: #c9e8c9;
$bg-pressed-color: #1b3d1b0d;
$bg-overlay-primary-color: #706b6e36;
$bg-overlay-secondary-color: #a59fa0dc;
$bg-action-hover-color: #f37a51;
$bg-hover-color: #ede7e5bf;
$bg-focus-color: #fce9e4;
$bg-highlight-color: #fdf5d7;

// BG STATUS
$bg-success-color: #d4e6d6;
$bg-error-color: #f3d9e0;
$bg-warning-color: #fce9e4;
$bg-info-color: #fdecd7;

// FG
$fg-primary-color: #1b3d1b;
$fg-secondary-color: #385d38;
$fg-tertiary-color: #568056;
$fg-muted-color: #1b3d1b99;
$fg-accent-color: #4a8c4a;
$fg-action-color: #4a8c4a;
$fg-inverted-color: #e8f3e8;
$fg-disabled-color: #1b3d1b4d;
$fg-pressed-color: #1b3d1b;
$fg-highlight-color: #3b7c3b;

// FG STATUS
$fg-success-color: #269d69;
$fg-error-color: #e14775;
$fg-warning-color: #e16032;
$fg-info-color: #cc7a0a;

// Border
$border-primary-color: #d2cdcb;
$border-secondary-color: #e0dad9;
$border-accent-color: #f37a51;
$border-disabled-color: #e0dad9;
$border-button-secondary-color: #f5d6cb;
$border-focus-color: #e16032;
$border-pressed-color: #e16032;

// BORDER STATUS
$border-success-color: #5bbd8b;
$border-error-color: #e87899;
$border-warning-color: #f37a51;
$border-info-color: #d99f47;
