// BG
$bg-primary-color: #f4ecd8;
$bg-secondary-color: #eaddc4;
$bg-tertiary-color: #e0ceb0;
$bg-header-color: 244, 236, 216;
$bg-disabled-color: #eaddc4;
$bg-inverted-color: #4a3c31;
$bg-accent-overlay-color: #d18f524d;
$bg-accent-color: #fadcb9;
$bg-pressed-color: #4a3c310d;
$bg-overlay-primary-color: #706b6e36;
$bg-overlay-secondary-color: #a59fa0dc;
$bg-action-hover-color: #f37a51;
$bg-hover-color: #ede7e5bf;
$bg-focus-color: #fce9e4;
$bg-highlight-color: #fdf5d7;

// BG STATUS
$bg-success-color: #d4e6d6;
$bg-error-color: #f3d9e0;
$bg-warning-color: #fce9e4;
$bg-info-color: #fdecd7;

// FG
$fg-primary-color: #4a3c31;
$fg-secondary-color: #735d4d;
$fg-tertiary-color: #9c8069;
$fg-muted-color: #4a3c3199;
$fg-accent-color: #d18f52;
$fg-action-color: #d18f52;
$fg-inverted-color: #f4ecd8;
$fg-disabled-color: #4a3c314d;
$fg-pressed-color: #4a3c31;
$fg-highlight-color: #c28836;

// FG STATUS
$fg-success-color: #269d69;
$fg-error-color: #e14775;
$fg-warning-color: #e16032;
$fg-info-color: #cc7a0a;

// Border
$border-primary-color: #d2cdcb;
$border-secondary-color: #e0dad9;
$border-accent-color: #f37a51;
$border-disabled-color: #e0dad9;
$border-button-secondary-color: #f5d6cb;
$border-focus-color: #e16032;
$border-pressed-color: #e16032;

// BORDER STATUS
$border-success-color: #5bbd8b;
$border-error-color: #e87899;
$border-warning-color: #f37a51;
$border-info-color: #d99f47;
